<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- 中间包 -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"></property>
		<property name="dataSource" ref="dataSource"></property>
		<!-- *号是指不仅仅依赖本路径下的.xml映射文件，也会映射依赖的包的文件比如本项目依赖的是manager-impl，即不光可以加载本地也可加载所依赖的项目 -->
		<property name="mapperLocations" value="classpath*:/mybatis/mapper/*.xml"></property>
		
		<!--https://pagehelper.github.io/-->
		<property name="plugins">
			<bean class="com.github.pagehelper.PageInterceptor">
				<property name="properties">
					<value></value>
				</property>
			</bean>
		</property>

	</bean>

	<!-- 映射dao接口，实现dao接口，并放入容器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.atguigu.atcrowdfunding.mapper"></property>
	</bean>


</beans>
